* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  position: relative;
}

body {
  margin: 0;
  background: #282d35;
}

.reactLogo {
  height: 30px;
  margin-right: 7px;
}

span {
  font-weight: 700;
  /* border: solid 1px; */
  margin-right: auto;
  color: #61dafb;
  font-size: 1.2rem;
}

.nav-container {
  display: flex;
  align-items: center;
  background: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.nav-container > p {
  color: #deebf8;
  font-weight: 600;
}

.main-container {
  color: #fff;
}

.main-container > h1 {
  margin-left: 27px;
  margin-top: 57px;
  letter-spacing: -0.05rem;
}

ul {
  margin-left: 30px;
  margin-top: 46px;
}
li {
  margin-top: 20px;
  font-weight: 400;
}

li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}

.background-logo {
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: -1;
}
